.body,html{height: 100%;background-color: white;}
#fundo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#login{
    width: 50%;
    height: 50%;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    border: 2vw black;
}
.margem{
    margin: 1%;
}
.marButt{
    margin-right: 5%;
    margin-left: 10%;
}
.txtlog{
    text-align: center;
    text-justify: auto;
    font-size: 1.2em;
    font-weight: bolder;
}